@using Messenger.Services
@model GreetingMessage

<h1>Hello!</h1>
<div>ID: @Model.Id</div>
<div>@Model.Text</div>




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/scripts/script.js"></script>